.food-container{
  padding: 20px;
  .search-field{

  }
  table tr:nth-child(even){
    td{
      background-color: #F5F5F5;
    }
  }
  @media (max-width: 380px) {
    table{
     td, th{
      font-size: 0.7rem;
      padding: 5px;
     }
    }
  }
  h1{
    text-align: center;
  }
}

body{
  margin: 0;
  h1,h2,h3,h4,h5,h6{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }
}

table thead th{
 background-color: rgba(25, 118, 210, 0.9) !important;
 color: #F5F5F5 !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: #F5F5F5 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
#searchName{
  position: fixed;
  text-align: center;
  display: block;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
 background-color: #F5F5F5;
 z-index: 99;
}
.food-container{
  position: relative;
  table{
    margin-top: 100px;
  }
}